# Functions

In [ ]:
f <- function(arguments){
    # do something
}

R functions automatically return the last expression.

In [1]:
add2 <- function(x,y){
    x + y
}

In [2]:
add2(3,5)

[1] 8

In [7]:
above10 <- function(x){
    use <- x > 10
    x[use]
}

In [5]:
x <- 1:20

In [8]:
above10(x)

 [1] 11 12 13 14 15 16 17 18 19 20

In [9]:
above <- function(x, n){
    use <- x > 10
    x[use]
}

In [10]:
above(x, 10)

 [1] 11 12 13 14 15 16 17 18 19 20

Specifying default value of n to 10

In [11]:
above <- function(x, n = 10){
    use <- x > 10
    x[use]
}

In [12]:
above(x)

 [1] 11 12 13 14 15 16 17 18 19 20

In [21]:
columnmean <- function(y){
    nc <- ncol(y)
    means <- numeric(nc)
    for(i in 1:nc){
        means[i] <- mean(y[, i])
    }
    means
}

In [22]:
columnmean(airquality)

[1]        NA        NA  9.957516 77.882353  6.993464 15.803922

In [18]:
airquality

    Ozone Solar.R Wind Temp Month Day
1    41   190      7.4 67   5      1
2    36   118      8.0 72   5      2
3    12   149     12.6 74   5      3
4    18   313     11.5 62   5      4
5    NA    NA     14.3 56   5      5
6    28    NA     14.9 66   5      6
7    23   299      8.6 65   5      7
8    19    99     13.8 59   5      8
9     8    19     20.1 61   5      9
10   NA   194      8.6 69   5     10
11    7    NA      6.9 74   5     11
12   16   256      9.7 69   5     12
13   11   290      9.2 66   5     13
14   14   274     10.9 68   5     14
15   18    65     13.2 58   5     15
16   14   334     11.5 64   5     16
17   34   307     12.0 66   5     17
18    6    78     18.4 57   5     18
19   30   322     11.5 68   5     19
20   11    44      9.7 62   5     20
21    1     8      9.7 59   5     21
22   11   320     16.6 73   5     22
23    4    25      9.7 61   5     23
24   32    92     12.0 61   5     24
25   NA    66     16.6 57   5     25
26   NA   266     14.9 58   5     26
27   NA    NA      8.0 57   5     27
28   23    13     12.0 67   5     28
29   45   252     14.9 81   5     29
30  115   223      5.7 79   5     30
... ...   ...     ...  ...  ...   ...
124 96    167      6.9 91   9      1
125 78    197      5.1 92   9      2
126 73    183      2.8 93   9      3
127 91    189      4.6 93   9      4
128 47     95      7.4 87   9      5
129 32     92     15.5 84   9      6
130 20    252     10.9 80   9      7
131 23    220     10.3 78   9      8
132 21    230     10.9 75   9      9
133 24    259      9.7 73   9     10
134 44    236     14.9 81   9     11
135 21    259     15.5 76   9     12
136 28    238      6.3 77   9     13
137  9     24     10.9 71   9     14
138 13    112     11.5 71   9     15
139 46    237      6.9 78   9     16
140 18    224     13.8 67   9     17
141 13     27     10.3 76   9     18
142 24    238     10.3 68   9     19
143 16    201      8.0 82   9     20
144 13    238     12.6 64   9     21
145 23     14      9.2 71   9     22
146 36    139     10.3 81   9     23
147  7     49     10.3 69   9     24
148 14     20     16.6 63   9     25
149 30    193      6.9 70   9     26
150 NA    145     13.2 77   9     27
151 14    191     14.3 75   9     28
152 18    131      8.0 76   9     29
153 20    223     11.5 68   9     30

In [23]:
columnmean <- function(y, removeNA = TRUE){
    nc <- ncol(y)
    means <- numeric(nc)
    for(i in 1:nc){
        means[i] <- mean(y[,i], na.rm = removeNA)
    }
    means
}

In [24]:
columnmean(airquality)

[1]  42.129310 185.931507   9.957516  77.882353   6.993464  15.803922

## Function Arguments:

*Formal Arguments*: Arguments that are included in the function definition. 

- ```formals``` function returns a list of all the formal arguments of a function. 
- arguments can be matched positionally or by name.

## The "..." Argument

Used to extend the function.

In [25]:
myplot <- function(x, y, type = "1", ...){
    plot(x, y, type = type, ...)
}

... passes all the remaining arguments to the plot function

In [27]:
mean

function (x, ...)
UseMethod("mean")
<bytecode: 0x000000000529f228>
<environment: namespace:base>

^ used in Generic Functions

Also used when the number of arguments is unknown.

In [28]:
args(paste)

function (..., sep = " ", collapse = NULL)
NULL

In [29]:
args(cat)

function (..., file = "", sep = " ", fill = FALSE, labels = NULL,
    append = FALSE)
NULL

Partial/positional matching in this sort of function.

In [30]:
paste("a", "b", sep = ":")

[1] "a:b"

In [31]:
paste("a", "b", ":")

[1] "a b :"

So, any arguments that appear after the ... needs to be specified explicitly.

# Scoping Rules

## A diversion on binding values to Symbol:

In [33]:
lm <- function(x){x*x}
lm

function(x){x*x}

R searches through a series of environments:

- search the global environment first
- search the namespaces of each packages

In [34]:
search()

 [1] ".GlobalEnv"        "jupyter:irkernel"  "package:stats"
 [4] "package:graphics"  "package:grDevices" "package:utils"
 [7] "package:datasets"  "package:methods"   "Autoloads"
[10] "package:base"

## Scoping Rules

- R uses Lexical Scoping/Static Scoping

In [ ]:
f <- function(x,y){
    x^2 + y/z
}

The value of z comes from the environment search.

## Dates and Times in R:

- Dates : ```Data``` Class
- Times : ```POSIXct``` or the ```POSIXlt``` class

In [1]:
x <- as.Date("1970-01-01")
x

[1] "1970-01-01"

In [2]:
unclass(0)

[1] 0

In [3]:
x <- as.Date("1970-01-02")
x

[1] "1970-01-02"

In [4]:
unclass(1)

[1] 1

Time is counted from the days passed since 1 January 1970, internally.

## Times in R:

- POSIXct : large integer
- POSIXlt : list

Number of generic Functions

- weekdays
- months
- quarters

In [8]:
x <- Sys.time()
x

[1] "2020-04-19 12:58:50 +06"

In [10]:
p <- as.POSIXlt(x)
names(unclass(p))

 [1] "sec"    "min"    "hour"   "mday"   "mon"    "year"   "wday"   "yday"
 [9] "isdst"  "zone"   "gmtoff"

In [11]:
p$sec

[1] 50.4518

In [14]:
x     # This is already in POSICct format

[1] "2020-04-19 12:58:50 +06"

In [15]:
unclass(x)

[1] 1587279530

In [16]:
class(x)

[1] "POSIXct" "POSIXt"

In [17]:
class(p)

[1] "POSIXlt" "POSIXt"

Striptime:

In [27]:
datestring <- "January 10, 2012 10:40"
x <- strptime(datestring, "%B %d, %Y %H:%M")
x

[1] "2012-01-10 10:40:00 +06"

In [36]:
datestring <- "January 12, 2012 10:40"
y <- strptime(datestring, "%B %d, %Y %H:%M")
y

[1] "2012-01-12 10:40:00 +06"

In [29]:
y-x

Time difference of 2 days

In [37]:
z <- as.Date("2012-01-01")

In [38]:
y - z

Warning message in eval(expr, envir, enclos):
"Incompatible methods ("-.POSIXt", "-.Date") for "-""

ERROR: Error in y - z: non-numeric argument to binary operator

In [39]:
z <- as.POSIXlt(z)

In [40]:
y - z

Time difference of 11.19444 days